@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Music Avenue Inc.<br />
    Niagara Falls, ON<br />
    <abbr title="Phone">P:</abbr>
    289-687-3533
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:julianyager@gmail.com">julianyager@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:julianyager@gmail.comm">julianyager@gmail.com</a>
</address>